.icon {
    color: white;
    font-size: 1rem; 
  }
  .sidebarNav-body{
    width: 200px;
    position: fixed;
    z-index: 1021;
    top: 0;
    left: 0;
    height: 100%;
  }
  .sidebarNav-ul {
    position: relative;
    height: 100%;
  }
  .bottom-close-icon {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    bottom: 0%;
    height: 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg-circle {
    background-color: rgb(231, 232, 238);
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .tabs-btn {
    border-radius: 50px;
    padding: 3px 10px;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
  }
  
  .nav-tab.active .tabs-btn {
    background-color: rgb(58, 104, 204);
    border: 2px solid  rgb(58, 104, 204); /* Change border color for active tab */
    color: white; /* Optional: change text color for better contrast */
  }
  
  /* Optional: Add hover effects */
  .nav-tab .tabs-btn:hover {
    background-color:  rgb(58, 104, 204); /* Light grey for hover effect */
  }
  .dash-child-tabs .navTabsBtn {
    border: none;
    background-color: transparent;
  }
  .dash-child-tabs.active .navTabsBtn {
    color: rgb(58, 104, 204); /* Text color for the active tab */
    border-bottom: 2px solid rgb(58, 104, 204); /* Bottom border for the active tab */
  }
  .dashboard-body {
    background-color:  rgb(231, 232, 238);
  }
  .navTab-icons {
    font-size: 3rem;
  }